  <%= form_with url: search_path, method: :get, local: true do |f| %>

<span class="start">開始</span>
<div class="top-form">
<div class="top-form_season">
  saesonは？
  <span class="top-form_season_btn">春</span>
  <span class="top-form_season_btn">夏</span>
  <span class="top-form_season_btn">秋</span>
  <span class="top-form_season_btn">冬</span>
  <span class="top-form_season_btn">年中</span>
</div>

<div class="top-form_amenity">
  amenityは？(いる/いらない)
    <span class="top-form_amenity_btn">いる</span>
    <span class="top-form_amenity_btn">いらない</span>
</div>


<div class="top-form_transpotation">
  transpotationは？(乗り物を使う/いらない)
  <span class="top-form_transpotation_btn">使う</span>
  <input value="true" type="hidden" name="boolean" id="boolean" />
  <span class="top-form_transpotation_btn">いらない</span>
</div>

<div class="top-form_activity_1">
  activityは？
  <span class="top-form_activity_1_1_btn">山</span>
  <span class="top-form_activity_1_2_btn">海</span>
  <span class="top-form_activity_1_3_btn">その他</span>
</div>

  <div class="top-form_activity_2_1">
    <span class="top-form_activity_2_btn top-form_activity_2_1_1">登山</span>
    <span class="top-form_activity_2_btn top-form_activity_2_1_2">キャンプ</span>
    <span class="top-form_activity_2_btn top-form_activity_2_1_3">川遊び</span>
  </div>

  <div class="top-form_activity_2_2">
    <span class="top-form_activity_2_btn top-form_activity_2_2_1">釣り</span>
    <span class="top-form_activity_2_btn top-form_activity_2_2_2">海水浴</span>
    <span class="top-form_activity_2_btn top-form_activity_2_2_3">ダイビング</span>
  </div>

  <div class="top-form_activity_2_3">
    <span class="top-form_activity_2_btn top-form_activity_2_3_1">遊園地</span>
    <span class="top-form_activity_2_btn top-form_activity_2_3_2">ドライブ</span>
    <span class="top-form_activity_2_btn top-form_activity_2_3_3">自転車旅</span>
  </div>


<span class="seach"><%= f.submit '検索' %></span>
</div>
<% end %>

<% if @activity != Activity.all %>
  <%= render "item" %>
<% end %>